w3lib==1.20.0
six==1.11.0
Twisted==18.9.0
elasticsearch==6.3.1
elasticsearch_dsl==6.3.1
setuptools==40.6.3
Scrapy==1.5.1
fake_useragent==0.1.11
requests==2.21.0
goose3==3.1.6
redis==3.2.1
mysql-connector==2.1.6
mysqlclient==1.4.2.post1
mmh3==2.5.1
scrapyd
scrapyd-client
scrapy-splash
pyquery
requests
selenium
aiohttp
mysqlclient=1.4.2