# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = CQUPT_Spider.settings

[deploy:local-deploy]
url = http://localhost:6801/
project = CQUPT_Spider
username = admin
password = wws123
